.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid burlywood;
    
}

.logo{
    width: 200px;
}

.nav-items > ul {
    display: flex;
    font-size: 22px;
    list-style-type: none;
    padding: 0px 30px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 15px;
}

.resto-container {
    display: flex;
    flex-wrap: wrap;
}

.restocard {
    padding: 5px;
    margin: 5px;
    width: 215px;
    background-color: #FAF9F6;
    font-family: apple-system;
    overflow: hidden;
}

.restocard:hover {
    cursor: pointer;
    border: 1px solid burlywood;
}

.restoimg {
    width: 90%;
    padding: 7px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
    border: 1px solid burlywood;
    border-radius: 10PX;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    padding: 5px;
    margin: 5px;
    width: 215px;
    height: 500px;
    background-color: #FAF9F6;
    
}

.login {
    padding: 0 20px;
    cursor: pointer;
    background-color: #FAF9F6;
    border: 1px solid burlywood;
    border-radius: 20PX;
}

.filter {
    display: flex;
}
.search-bar {
    border: 1px solid burlywood;
    border-radius: 20PX;
    cursor: text;
    
}
.search-btn {
    border: 1px solid burlywood;
    border-radius: 20PX;
    cursor: pointer;
}
